:root {
  --color-primary: #214581;
  --color-accent: #1c396b;
}

body{
  background: #eee;
  font-family: sans-serif;
}

.app{
  display: flex;
  justify-content: center;
}
/* button{
  margin: 10px;
  padding: 5px 20px;
  background: var(--color-accent);
  color: #FFF;
  must have
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}
button:hover{
  transition: all 0.3s ease-in-out;
  background: var(--color-primary);
}

input{
  position: relative;
}
input{
  position: relative;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #676767;
  font-size: 15px;
  outline: none;
}
input:focus{
  border: 2px solid #1a73e8;
} */